html
/* ---- CSS Demo ---- */

/*  ---------------Box Sizing-----------------  */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body{
 font-family: sans-serif;
  font-weight: 400;
  font-style: normal;
margin:0; 
}
h1{
  text-align:center;
  }
nav ul{
  text-align:center;
  
}
nav a{
  font-size:1.5em;
    padding:20px;
  color:black;
  
}
nav li{
  color:blue;
  font-size:1.5em; 
}
section#content h2 {
  font-family: sans-serif; cursive
  font-size:2.2em;
   color: blue;
   text-align: center;
 }
 section#content h2{
   text-align:center;
   
 }