html
/* ---- CSS Demo ---- */

/*  ---------------Box Sizing-----------------  */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}


/*  --------------- Global Styles -----------------  */
/*----Utility styles----*/
.container {
  width: 80vw;
  margin: 40px auto; 
  max-width: 900px;
}
body{
 font-family: sans-serif;
  font-weight: 400;
  font-style: normal;
margin:0; 
}
/*---responsive img------*/
img{
  max-width: 100%;
  height:auto;
  overflow-clip-margin: content-box;
  overflow:clip;
}
body{
  font-family: sans-serif;
  font-weight: 400;
  font-style: normal;
margin:0; 
}
.replace-spacex {
  width: 1000px;
  height: 140px;
  background-image: url("https://lh3.googleusercontent.com/u/1/drive-viewer/AKGpihaP6uIvn-_prpIzfsgOApEdDXbszBqtynK7VmKV6rzhQkgXgrQWMPBh11TEJmtX81ealots77dSlVoKUY4UAl5wRSat6gfPKxpVpwiOWfqDkvMbtWPdyXR0NZDi8eP8Gw=w958-h909-v0");
  margin:  0 auto;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  position:center;
  background-repeat: no-repeat;
  }
 .dragon{
  display:flex;
  align-items:center;
  justify-content:center ;
  height:140px;  
}
header.primary {
   background: url(https://lh3.googleusercontent.com/u/1/drive-viewer/AKGpihazYN11qEs1klF0jTL9dMwUMHzNQL-Fr8WuWpWjUkQ6MpQrKKy65BmUFTiujpNpUDwtOB5qmNP_GBXJQ444OtgIbw6aPEFMKdemEAKZU4qnMo0jrh6kCOA-imb0Ob4K9A=w958-h909-v0);
   background-size:cover;
   position:center;
background-color: #3b638b;
color:#ffffff; 
text-align:center;  
text-shadow:2px 2px #000000;
  
/* T,R,B,L */
padding: 20px 40px 20px 40px;  
}

header.primary h1 {
  font-size: 2.4rem;
  margin:20px 0 0;
  position: relative;
}
header.primary h2 {
  margin:0;
  font-size: 2.4rem;
  position: relative;
}

header.primary nav{
  max-width:400px;
  margin: 20px auto;
  position: relative;
}

header.primary ul {
  padding:30px 0;
  display:flex;
  flex-direction: row;
  justify-content:space-around;
  position: relative;
}

header.primary nav li{
  list-style-type:none;
  padding:0;
  width:20%;
  position: relative;
}

header.primary nav a:link,
header.primary nav a:visited {
  color:white;
  text-decoration:none;
  background-color:#000000;
  background-color:rgba(142,166,184,0.4);
  padding:8px 16px;
  border-radius: 10px;
  display:block;
  transition:0.6s;
  position: relative;
  
}

header.primary nav a:hover,
header.primary nav a:active{
  background-color:rgba(51,83,107,.8);
  
}
/*------Content----*/
section#content {
  padding: 4em 0;
}
section#content h2 {
 font-family: sans-serif; cursive;
 font-size:2.2em;
  color: #33536b;
  text-align: center;
}
section#content h3 {
  font-family: sans-serif; cursive;
  font-size:2.2em;
   color: black;
   text-align: center;
 }
/*---columns---*/
  section#columns {
    background: black;
   background-size: 100vw 220vh;
background-repeat: no-repeat;
   position:relative;
text-align:center;  
padding:20px 20px 20px 20px;
}
Section#columns .container{
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  flex:wrap;
  border: 1px solid black;
  padding: 0 0 4em 0; 
  background:white;
  border-radius:25px;
}
Section#columns .container h2{
  flex:0 0 100%;
  margin:0;
  display:absolute;
  color:#33536b;
  text-align:center;
    font-family: sans-serif;
  font-size:2em;
  text-shadow: 1px 1px black;
  
}
#columns article.info{
   color: black;
  padding:10px 10px 10px 10px;
  margin:5px;
  border-radius:25px;
  font-size:15px;
  
}
#columns article.info img{
  width:250px;
  height:150px;
  border-radius:20px;
  float:left;
  vertical-align: top;
  
}
#columns article.info figcaption{
  border: 1px;
    text-align: center;
  
}
#columns article.info p{
  margin-right:20px;
  font-size:1.2em;
 
  
}
#columns article.info figure {
    display:inline-block;
    margin: 20px;
}
#columns article.info ul{
  font-size:1em;
  text-align:center; 
}
/*---diagram----*/
#diagram img{
  justify-content:center;
  border-radius:25px;
  border: 2px solid black;
  
  }
/*---footer---*/
#copyright h6{
  background-color: #33536b;
  padding:20px;
  font-size:1em;
  text-align:center;
  color:white;
  margin:0;
}
 /*---Table---*/
 section#table  {
 background:black;
    background-size: 100vw 220vh;
 background-repeat: no-repeat;
    position:relative;
 text-align:center;  
 padding:20px 20px 20px 20px;
 }
 Section#table  .container{
   display:flex;
   flex-direction:column;
   justify-content:space-between;
   flex:wrap;
   border: 1px solid black;
   padding: 0 0 4em 0; 
   background:white;
   border-radius:25px;
 }
 Section#table  .container h2{
   flex:0 0 100%;
   margin:0;
   display:block;
   color:#33536b;
   text-align
   :center;
     font-family: sans-serif;
   font-size:2em;
   text-shadow: 1px 1px black;
   text-decoration:underline;
 }
 section#table  .info table,th,td{
   border:1px solid black;
 }


 
.slick-autoplay-toggle-button,
.slick-prev .slick-prev-icon, .slick-next .slick-next-icon,
.slick-dots li button .slick-dot-icon,
.slick-dots li.slick-active button .slick-dot-icon {
  color: #33536b;
}

/* Customize Previous/Next/Dots/Autoplay - Active State */

.slick-next:focus .slick-next-icon,
.slick-next:focus .slick-prev-icon,
.slick-prev:focus .slick-next-icon,
.slick-prev:focus .slick-prev-icon,
.slick-dots li button:focus .slick-dot-icon:before,
.slick-dots li.slick-active button:focus .slick-dot-icon,
.slick-autoplay-toggle-button:focus 
{
    color:#33536b;
}