html
/* ---- CSS Demo ---- */

/*  ---------------Box Sizing-----------------  */

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
/*  --------------- Global Styles -----------------  */
/*----Utility styles----*/
.container {
  width: 90vw;
  margin: 0 auto;
  max-width: 1000px;
}
body{
 font-family: sans-serif;
  font-weight: 400;
  font-style: normal;
margin:0; 
}
/*---responisve img------*/
img{
  max-width: 100%;
  height:auto;
  
}
body{
  font-family: sans-serif;
  font-weight: 400;
  font-style: normal;
margin:0; 
}
.replace-spacex {
  width: 1000px;
  height: 140px;
  background-image: url("https://lh3.googleusercontent.com/u/1/drive-viewer/AKGpihaP6uIvn-_prpIzfsgOApEdDXbszBqtynK7VmKV6rzhQkgXgrQWMPBh11TEJmtX81ealots77dSlVoKUY4UAl5wRSat6gfPKxpVpwiOWfqDkvMbtWPdyXR0NZDi8eP8Gw=w958-h909-v0");
  margin:  0 auto;
  text-indent: 100%;
  overflow: hidden;
  display: block;
  background-repeat: no-repeat;
  position:relative;
}
.dragon{
  display:flex;
  align-items:center;
  justify-content:center ;
  height:140px;  
}

header.primary {
   background: url(https://lh3.googleusercontent.com/u/1/drive-viewer/AKGpihZfgwtEBdTlwihwGyVLhG-dP_XZ_lUMG62XclKY3wYnIzKzSmFRTuFbg3wEaxj2ZzcuLwXi2Gzyo6WNpW3BMjjLqV6Rp2cVdLdbPXBrKPYB6l2fU23P9G3S19XxCUG5oQ=w958-h909-v0);
   background-size:cover;
   position:absolute;
background-color: #3b638b;
color:#ffffff; 
text-align:center;  
text-shadow:2px 2px #000000;
/* T,R,B,L */
padding: 30px 40px 30px 40px;  
}

header.primary h2 {
  margin:0;
  font-size: 3rem;
  position: absolute;
  align-text:center;
  justify-content:center;
}

header.primary nav{
  max-width:600px;
  margin:10px auto;
  position: relative;
}

header.primary ul {
  padding:20px 0;
  display:flex;
  flex-direction: row;
  justify-content:space-around;
  position: resolute;
}

header.primary nav li{
  list-style-type:none;
  padding:10px;
  width:20%;
  position: relative;
}

header.primary nav a:link,
header.primary nav a:visited {
  color:white;
  text-decoration:none;
  background-color:#33536b;
  padding:10px 18px;
  border-radius: 10px;
  display:block;
  transition:0.6s;
  position: relative;
  
}
/*----content-----*/
section.container h2{
  display:flex;
  font-size: 2rem;
  position:relative;
  align-text:center;
  justify-content:center;
  color:#33536b;
}
Section.container p{
 margin:0px;
  font-size: 1rem;
  position: absolute;
  align-text:center;
  justify-content:left;
  padding:10px;
}
/*----articles----*/
section#articles{
 background: url(https://lh3.googleusercontent.com/u/1/drive-viewer/AKGpihZDNc0_hKdrRNR0vgj6VWwhaRhGs7u5IySs0FJfcV5NYn6b0e30TP_uT1BeogRgz73V7TkyHTsf7CpNoyAcyeNa8WOWpSzqpbBMa34BVaWCmzkStW9hDcUb9-GVXWhK=w639-h909-v0);
   background-size: 100vw 180vh;
background-repeat: no-repeat;
   position:relative;
text-align:center;  
/* T,R,B,L */
padding:20px 20px 20px 20px;
  
}
section#articles .container {
  display:flex;
  flex-direction:column;
  border-bottom: 1px solid #c0c0c0;
  padding: 0 0 4em 0;
}
section#articles .container h2{
  margin:0;
  display:flex;
  font-size: 2rem;
postion:absolute;
 color:#33536b;
  text-align: center;
    font-size: 25px;
}
section#articles h2{
  color:#fff;
  text-decoration:none;
  position: absolute;
  align-text:center;
  justify-content:center;
}
#articles article.content img{
  width:250px;
  height:150px;
  margin:10px;
  border-radius:25px;
  justify-content:center;
  align-text:center;
   margin-right: 10px;
  display: block;
}
#articles article.content{ 
  width:40;
  height:10;
  padding: 10px;
  transition: 0.6s;
  font-size: 1em;
  background: #fff;
   border-radius: 25px; 
  
}
#articles article.content p{
  margin-right:2;
  text-decoration:underline;
  font-size: 1.2em;
  
}
 /*----photo---*/
.diagram img{
  clear:both;
}